.Card .Logo img {
    height: 50px;
    width: 50px;
    margin-bottom: 0.8rem;
}

.Card {
    width: 14.5rem;
    height: 7.5rem;
    border-radius: 4px;
    background-color: whitesmoke;
}

.Card.Gain {
    border: 1px solid #00b518;
}

.Card.Loss {
    border: 1px solid #e60000;
}

.Top,
.Bottom {
    display: flex;
    flex: 1;
    width: 100%;
}

.Card .Name {
    padding: 8px 12px;
    font-weight: bold;
    width: 60%;
}

.Card .Name span {
    margin: 0px 0px 0px 4px;
    font-weight: normal;
    font-size: 0.8em;
}

.Card .Percent {
    font-size: 0.9em;
    width: 40%;
    margin: 8px;
    text-align: right;
}

.Card .Logo {
    width: 30%;
    text-align: center;
    margin: 5px;
}

.Card .Price {
    width: 70%;
    margin: 8px 0;
    font-size: 1.4em;
}

.Card .Percentage.Gain,
.Card .Price.Gain {
    color: #00b518;
    margin-top: 0.5rem;
}

.Card .Triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
}

.Card .Price.Gain .Triangle {
    top: -17px;
    left: 8px;
    border-width: 0 5px 8.7px 5px;
    border-color: transparent transparent #00b518 transparent;
}

.Card .Price.Loss .Triangle {
    top: 17px;
    left: 8px;
    border-width: 8.7px 5px 0 5px;
    border-color: #e60000 transparent transparent transparent;
}

.Card .Percentage.Loss,
.Card .Price.Loss {
    color: #e60000;
    margin-top: 0.5rem;
}