.FarmerDashboard {
    margin: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 4px dashed black;
    background-color: ghostwhite;
}

.FarmerDashboard > dl {
    columns: 4;
    margin: 0;
    margin-right: 0.5rem;
}