.FarmerDashboard {
    padding-top: 4px;
    border: 4px dashed black;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #C0C0C0, #DCDCDC, ghostwhite);
    font-size: 12px;
    height: 65vh;
}

.Budget {
    color: red;
    font-weight: bold;
}

.Animals {
    color: darkcyan;
    font-weight: bold;
}

.Meat {
    color: darkred;
    font-weight: bold;
}

.Dairy {
    color: blue;
    font-weight: bold;
}

.Misc {
    color: blueviolet;
    font-weight: bold;
}

.Seeds {
    color: darkorange;
    font-weight: bold;
}

.Plants {
    color: darkgreen;
    font-weight: bold;
}

.Crop {
    color: indigo;
    font-weight: bold;
}

.Feed {
    color: purple;
    font-weight: bold;
}

.Tech {
    color: darkslategray;
    font-weight: bold;
}

.Energy {
    color: darkslateblue;
    font-weight: bold;
}

.FarmerDashboard button {
    background-color: #37474f;
}

.FarmerDashboard button:hover {
    background-color: lightslategray;
}

#farmer-dashboard-tabpane-animals>dl {
    columns: 5;
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    font-size: 12px;
}

#farmer-dashboard-tabpane-crops>dl {
    columns: 4;
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    font-size: 16px;
}

#farmer-dashboard-tabpane-tech>dl {
    columns: 2;
    margin: 0;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    margin-top: 0.5rem;
    font-size: 16px;
}

#farmer-dashboard-tab-animals, #farmer-dashboard-tab-crops, #farmer-dashboard-tab-tech {
    width: 8rem;
}