.Instructions {
  border-radius: 30px;
  border: 10px solid black;
}

.Instructions h2 {
  font-size: 2.4rem;
  margin: 1.424rem 0 1.424rem 0;
}

.Instructions-logo {
  height: 2.4rem;
  pointer-events: none;
  margin-bottom: 0.6rem;
}

.Instructions-header {
  background-color: #006064;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Instructions h4 {
  color: black;
  margin: 0;
}

.Instructions b {
  color: white;
}

.video-react {
  padding-top: 0 !important;
}

.video-react-video {
  padding-top: 0;
  width: 800px;
  height: 285px;
}

.Instruction-Panel {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
  border-radius: 30px;
}

.Instruction-Panel>ol>li {
  margin-left: 1rem;
  margin-right: 1rem;
}