.MarketButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 4px dashed black;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #FFFF99, #FFFACD, #FFFFE0);
    display: inline-flex;
    width: 100vw;
    position: fixed;
    margin-left: -188px;
    height: 12vh;
}

.modal-backdrop {
    background-color: transparent;
}

.modal {
    top: 10vh;
    left: 375px;
    max-height: 88vh !important;
    width: 1065px !important;
    border-radius: 30px;
    border: 10px solid black;
    background-color: darkcyan;
}

.modal-dialog {
    height: 70vh !important;
    max-width: 1065px !important;
    margin: 0;
    background-color: darkcyan;
}

.modal-content {
    padding-bottom: 0;
    background-color: darkcyan;
}

.modal-content .modal-header {
    color: white;
}

.modal-content .modal-header .modal-title {
    font-size: 1.6rem;
}

.modal-content .modal-body {
    height: 63vh !important;
    overflow-y: scroll;
}

.modal-content .modal-footer {
    background-color: darkcyan;
}

.tab-content {
    padding-top: 30px;
}

.market-list {
    columns: 3;
}

.Animal>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Animal>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Animal>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Feed>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Feed>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Feed>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Tech>dd>Button {
    margin: 0.8rem;
    width: 275px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Tech>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Tech>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Meat>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Meat>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Meat>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Dairy>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Dairy>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Dairy>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Seed>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Seed>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Seed>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Crop>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Crop>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Crop>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Misc>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
}

.Misc>dd>Button:hover {
    margin: 0.8rem;
    background: #7F00FF;
    background: linear-gradient(to right, #E100FF, #7F00FF);
}

.Misc>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.nav-tabs {
    background-color: transparent;
    display: inline-flex;
    border: transparent;
    height: auto;
    width: auto;
}

.nav-tabs .nav-link {
    background-color: #37474f;
    border: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    color: black;
}

.CardContainer {
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #C0C0C0, #DCDCDC, ghostwhite);
    border: 10px dashed black;
    border-radius: 30px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.CardContainer h2 {
    text-align: center;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 100px;
    background-color: black;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding-bottom: 0.5rem;
}

.CryptoCard {
    display: inline-flex;
    margin: 0.5rem;
}