.modal-backdrop {
    background-color: transparent;
}

.modal {
    top: 10vh;
    left: 375px;
    max-height: 88vh !important;
    width: 1065px !important;
    border-radius: 30px;
    border: 10px solid black;
    background-color: darkcyan;
}

.modal-dialog {
    height: 70vh !important;
    max-width: 1065px !important;
    margin: 0;
    background-color: darkcyan;
}

.modal-content {
    padding-bottom: 0;
    background-color: darkcyan;
}

.modal-content .modal-header {
    color: white;
}

.modal-content .modal-header .modal-title {
    font-size: 1.6rem;
}

.modal-content .modal-body {
    height: 63vh !important;
    overflow-y: scroll;
}

.modal-content .modal-footer {
    background-color: darkcyan;
}

.tab-content {
    padding-top: 30px;
}

.market-list {
    columns: 3;
}

.Animal>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Animal>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Animal>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Feed>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Feed>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Feed>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Tech>dd>Button {
    margin: 0.8rem;
    width: 275px;
    height: 10rem;
    background-color: #007bff;
}

.Tech>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Tech>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Meat>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Meat>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Meat>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Dairy>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Dairy>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Dairy>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Seed>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Seed>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Seed>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Crop>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Crop>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Crop>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.Misc>dd>Button {
    margin: 0.8rem;
    width: 250px;
    height: 10rem;
    background-color: #007bff;
}

.Misc>dd>Button:hover {
    margin: 0.8rem;
    background-color: blue;
}

.Misc>dd>Button>img {
    height: 5rem;
    width: 7rem;
}

.nav-tabs {
    background-color: transparent;
    display: inline-flex;
    border: transparent;
    height: auto;
    width: auto;
}

.nav-tabs .nav-link {
    background-color: #37474f;
    border: 1px solid black;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    color: black; 
}